<!DOCTYPE html>
<html>
    <head>
        <title>Jenkins Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/css/<%= skin %>.css" />
        <style type="text/css">
        </style>
    </head>
    <body>

        <div class="status_indicators">
            <% jobs.each do |job| %>
                <a href="<%= job.build_url %>" target="_blank"><div class="job <%= job.status %>">
                    <%= job.name %>
                </div></a>
            <% end %>
        </div>

    </body>
</html>